@import './base.css';

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1 {
  font-size: 2.5rem;
  color: #5d5aae;
  margin-bottom: 1rem;
  text-align: center;
}
button {
  background-color: #5d5aae; 
  color: white;
  padding: 0.4rem 1.0rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #369f6b;
}